@import url("https://fonts.googleapis.com/css2?family=JetBrains+Mono:wght@300;400;500;600;700&display=swap");
@import "tailwindcss";

html {
   scroll-behavior: smooth;
}

body {
   font-family: "JetBrains Mono", monospace;
   -webkit-font-smoothing: antialiased;
}

section {
   scroll-margin-top: 80px;
}